# Database
DATABASE_URL="postgresql://nexuswait:nexuswait@localhost:5433/nexuswait?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key-min-32-chars"
JWT_EXPIRES_IN="7d"

# API
PORT=3000
API_PREFIX=v1

# Polar.sh
POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=
POLAR_PRODUCT_ID_SPARK=
POLAR_PRODUCT_ID_PULSE=
POLAR_PRODUCT_ID_NEXUS=

# App URL
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# Google
GOOGLE_CLIENT_ID=
